@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300;400;500&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding: 3rem;
}

:root{
    --main-color: #d953fa;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --white-color: #e8e8e8;
    --button-color: rgb(179, 67, 67);
    --hot-color: #ff0000;
    --yellow-color: #faf102;
    --grey-color: #5c5959;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
}

html::-webkit-scrollbar {
    width: .8rem;
}
  
html::-webkit-scrollbar-track {
    background: var(--light-color)
}
  
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 2rem;
}

body{
    background: var(--dark-color);
    color: var(--white-color);
    overflow-x: hidden;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 3rem 0;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
    text-transform: capitalize;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.3rem;
}

h5{
    font-size: 1rem;
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.heading{
    text-align: left;
    margin-bottom: 1rem;
    display: flex;
    column-gap: 1rem;
}

.heading .bx{
    background: var(--hot-color);
    color: var(--white-color);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: .5rem;
}

.heading h2{
    font-weight: 500;
}

.heading h3{
    color: var(--main-color);
    font-weight: 300;
    font-style: italic;
    padding-top: .5rem;
}

.btn{
    background: var(--button-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    transition: var(--transition);
    border-radius: 1rem;
    border: .1rem solid transparent;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    display: inline-block;
}

.btn:hover,
.download-links a:hover{
    background: var(--white-color);
    color: var(--button-color);
}

a{
    color: var(--white-color);
}

/********************* NAVBAR ***************************/
nav{
    background: var(--light-color);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 100;
}

.window-scroll{
    background: var(--light-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5)
}

.logo{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
    letter-spacing: .15rem;
}

.logo span,
footer span{
    color: var(--main-color);
}

.nav-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-icons .bx{
    font-size: 1.8rem;
    background: var(--dark-color);
    height: 2.8rem;
    width: 2.8rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
}

#bell-icon{
    position: relative;
}

#bell-icon span{
    content: '';
    width: .31rem;
    height: .31rem;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    top: .6rem;
    right: .5rem;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .3rem;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    background: var(--dark-color);
    cursor: pointer;
    z-index: 200;
    transition: .3s;
}

.menu-icon div{
    background: var(--white-color);
    display: block;
    height: .15rem;
    width: 1.5rem;
    transition: .3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-.3rem, .3rem);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-.3rem, -.3rem);
}

.menu-side{
    background: hsl(251, 15%, 22%,.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    ;align-items: center;
    justify-content: space-between;
    transition: .5s;
    clip-path: circle(0% at 100% 0%);
}

.menu-side.active{
    clip-path: circle(141.4% at 100% 0%);
}

.menu-side img{
    width: 33rem;
    padding-left: 5rem;
}

.navbar{
    display: grid;
    row-gap: 1rem;
    text-align: right;
    padding-right: 15rem;
}

.navbar a{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--white-color);
    transition: .2s;
}

.navbar a:hover{
    border-bottom: .3rem solid var(--main-color);
}

.notification{
    position: absolute;
    top: 110%;
    right: 5rem;
    background: rgb(50, 47, 64,.9);
    border: .1rem dotted var(--main-color);
    width: 18rem;
    height: 21rem;
    border-radius: .5rem;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    clip-path: circle(0% at 100% 0%);
}

.notification.active{
    clip-path: circle(141.4% at 100% 0%);
    transition: .3s;
}

.notification-box{
    background: var(--dark-color);
    display: flex;
    align-items: baseline;
    column-gap: 1rem;
    border-radius: .5rem;
    padding: .6rem;

}

.notification-box .bx{
    color: var(--yellow-color);
}

.x-box{
    background: var(--grey-color);
}

.x-box .bx{
    color: var(--hot-color)
}

/********************* Header ***************************/
.home-container{
    width: 100%;
}

.home-container .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container .slide::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: -1;
}

.home-content{
    text-align: center;
    width: 70rem;
    display: none;
}

.home-content h1{
    font-size: 6vw;
    text-transform: uppercase;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    line-height: 1.5;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.home-content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

@keyframes fadeIn{
    0%{
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.swiper-slide-active .home-content{
    display: inline-block;
}

.home-container .swiper-button-next,
.home-container .swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: none;
    color: var(--grey-color);
    border-radius: .5rem;
}

.home-container .swiper-button-next:hover,
.home-container .swiper-button-prev:hover{
    color: var(--white-color);
}

.home-container .swiper-button-next::after,
.home-container .swiper-button-prev::after{
    font-size: 2rem;
}

/********************* Trending ***************************/
.trending-img,
.new-img{
    width: 100%;
    border-radius: .5rem;
}

.trending-img img,
.new-img img{
    border-radius: .5rem;
    height: 22rem;
}

.trending-info{
    background: hsl(251, 15%, 22%, .5);
    backdrop-filter: blur(.2rem);
    position: absolute;
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    bottom: 0;
    letter-spacing: .1rem;
}

.trending-info h4{
    font-weight: 500;
}

.trending-info h5,
.new-info h5{
    margin-top: .5rem;
    font-weight: 300;
}

.rating-download{
    display: flex;
    justify-content: space-between;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    padding: .2rem 0;
    border-radius: .5rem;
}

.rating .bx,
.rating span{
    color: var(--yellow-color);
    font-size: 1rem;
}

.box-btn .bx{
    background: var(--white-color);
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 50%;
    padding: .5rem;
}

.box-btn .bx:hover{
    background: var(--dark-color);
    transition: .3s linear;
}

/********************* New Trending ***************************/
.new-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    position: relative;
}

.new-box{
    max-height: 23rem;
}

.new-box{
    display: none;
}

.new-box:nth-child(1),
.new-box:nth-child(2),
.new-box:nth-child(3){
    display: inline-block;
}

.new-info{
    background: hsl(251, 15%, 22%, .5);
    backdrop-filter: blur(.2rem);
    border-radius: .5rem;
    padding: .6rem;
    bottom: 6.9rem;
    letter-spacing: .1rem;
    position: relative;
}

.new-info h4{
    font-weight: 500;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.load-more .btn{
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: .7rem 1.1rem .7rem 1.2rem;
    letter-spacing: .3rem;
    cursor: pointer;
    display: inline-block;
}

/********************* Top Authors part ***************************/
.top-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    position: relative;
}

.top-box{
    background: var(--light-color);
    text-align: center;
    padding: 1rem auto;
    border-radius: .5rem;
}

.top-box:hover{
    background: var(--button-color);
    box-shadow: -1rem 0 1rem rgb(255, 0, 0,.3);
    z-index: 1;
}

.top-info{
    margin-bottom: 1rem;
}

.top-info img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 1rem auto ;
}

.top-info h4{
    font-weight: 200;
    margin-bottom: .5rem;
}

.top-info p{
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 100;
    padding-bottom: .5rem;
}

/********************* Review part ***************************/
.review-container{
    padding-bottom: 3rem;
    overflow-x: hidden;
}

.review-swiper{
    display: grid;
    gap: .6rem;
    margin: auto;
    width: 100%;
    padding: 0 1rem;
    max-width: 80rem;
}

.review-content{
    position: relative;
    width: 19rem;
    height: 23rem;
    border-radius: .5rem;
    background: var(--light-color);
    text-align: center;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 3rem;
}

.review-content i{
    text-align: justify;
    font-size: 2rem;
    padding-top: .5rem;
}

.review-content h3{
    font-size: 1rem;
    font-weight: 100;
    text-align: justify;
    padding: 1rem;
    letter-spacing: .1rem;
}

.review-user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 1rem auto;
}

.review-user p{
    font-size: 1rem;
    font-weight: 100;
}

.review-container .swiper-pagination-bullet{
	background: var(--button-color);
}

/********************* Infomation part ***************************/
.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
    margin-top: -5rem;
}

.info-box{
    width: 30rem;
    height: 15rem;
    column-count: 2;
    background: rgb(50, 47, 64, .3);
    border-radius: .5rem;
    padding: 2rem;
}

.info-detail{
    text-align: center;
    height: 13rem;
    padding-top: 2rem;
}

.info-detail h3{
    font-weight: 300;
    margin-bottom: 1rem;
}

.info-detail p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    text-align: justify;
}

.info-detail a{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: underline;
    color: #1100ff;
    margin-top: 1rem;
}

.info-detail a.sell-btn{
    color: var(--main-color);
}

/********************* Footer part ***************************/
footer{
    background: var(--dark-color);
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
    padding-top: 5rem;
}

footer ul li{
    margin-bottom: .5rem;
}

footer ul li a:hover{
    text-decoration: underline;
    color: var(--main-color);
}

.footer-top{
    background: var(--light-color);
    padding: .8rem;
    display: flex;
    flex-wrap: wrap; 
    border-radius: .5rem;
    margin-bottom: 3rem;
    margin-top: -8rem;
    justify-content: cente;
}

.input-box h3{
    font-weight: 500;
    padding: 1.5rem;
    justify-content: flex-start;
    margin-right: 3rem;
}

form{
    display: block;
    margin-top: 0rem;
}

.email-input{
    box-sizing: border-box;
    width: 20rem;
    margin-top: 1rem;
}

.email-input .form-group{
    display: flex;
    flex-direction: row;
}

.form-group{
    margin-bottom: 1rem;
}

.email-input input{
    border-radius: 1.8rem 0 0 1.8rem;
    height: 3.3rem;
    font-size: .98rem;
    width: 17rem;
    border: 0;
}

.email-input input:focus{
    color: var(--white-color);
    border: 0;
    outline: none;
}

.form-control{
    padding: 1.5rem;
    border: 0;
    color: var(--light-color);
    background: transparent;
    border: .06rem solid #495057 !important;
}

.btn-subscribe{
    border-radius: 0 1.8rem 1.8rem 0;
    background: var(--button-color) !important;
    border:.1rem solid var(--button-color) !important;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2rem;
    padding: .3rem 2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-subscribe:hover{
    background: transparent !important;
    border:.1rem solid var(--white-color) !important;
    color: var(--button-color);
} 

.footer-center{
    display: flex;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem;
    justify-content: center;
}

.footer-container > div h4{
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.footer-1 p{
    margin: 1rem 0 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    width: 20rem;
}

.footer-2 a{
    font-size: 1.2rem;
    font-weight: 300;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    margin-top: 0rem;
    padding-top: 0rem;
}

.footer-socials i{
    font-size: 1.5rem;
}

.footer-copyright{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/********************* Download detail part ***************************/
.detail-img{
   margin: 2rem auto;
   padding-top: 1rem;
   width: 100%;
   height: 22rem;
}

.detail-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.detail-about h2,
.detail-screenshot h2{
    display: inline-block;
    font-weight: 500;
    margin-bottom: 2rem;
    border-bottom: .5rem solid var(--main-color);
}

.detail-about p{
    font-size: 1.4rem;
    text-align: justify;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.screenshot-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .6rem;
    margin: 0rem auto 3rem;
    width: 100%;
    padding: 0 1rem;
    max-width: 49rem;
}

.screenshot-content img{
    width: 100%;
    height: 27rem;
    object-fit: cover;
    border-radius: .5rem;
}

.detail-download{
    max-width: 49rem;
    margin: 2rem auto;
    width: 100%;
    display: grid;
    justify-content: center;
}

.detail-download h2{
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin: 1.6rem 0;
}

.download-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .6rem;
    margin-bottom: 2rem;
}

.download-links a{
    background: var(--button-color); 
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: .7rem 1.2rem;
    border-radius: .5rem;
}

/********************* MEDIA QUERIES ***************************/
@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }
    
    h2{
        font-size: 1.8rem;
    }
    
    h3{
        font-size: 1.4rem;
    }
    
    h4{
        font-size: 1.1rem;
    }

    h5{
        font-size: .9rem;
    }

    section{
        padding: 2rem 0;
    }

    .home-container{
        width: 100%;
    }

    .btn{
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
    }

    .new-box{
        max-height: 16rem;
    }
    .new-img img{
        height: 16rem;
    }

    .new-info{
        padding: .6rem;
        bottom: 6.5rem;
        letter-spacing: .05rem;
    }

    .review-swiper{
        width: 40rem;
    }

    .review-content{
        width: 18rem;
        margin-left: 1rem;
    }

    .info-container{
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 40rem;
        margin-bottom: 7rem;
    }

    .info-box:nth-child(2){
        margin-left: 10rem;
    }

    .footer-top{
        width: 80%;
        margin: -10rem auto 3rem;
    }

    .input-box h3{
        margin: 0 auto;
    }

    .email-input{
        margin: auto;
        width:30rem;
    }

    .email-input input{
        width: 22rem;
    }
    
    .footer-center{
        gap: 2.5rem;
    }

    .footer-1 p{
        width: 15rem;
    }

    .footer-1 p,
    .footer-2 a{
        font-size: 1rem;
    }

    .detail-download{
        margin: 1rem auto 5rem;
    }
}

@media screen and (max-width: 768px){
    .menu-side{
        justify-content: flex-end;
    }

    .menu-side img{
        display: none;
    }

    .navbar{
        padding-right: 5rem;
    }

    .navbar a{
        font-size: 2rem;
    }
    
    .home-content h1{
        font-size: 5vw;
    }

    .btn{
        padding: 1rem 1.3rem;
        font-size: 1rem;
    }

    .new-content{
        gap: .3rem;
        grid-template-columns: repeat(2,1fr);
    }

    .new-box{
        max-height: 16rem;
    }

    .new-box:nth-child(3){
        display: none;
    }

    .load-more{
        margin-top: 1rem;
    }
    
    .load-more .btn{
        font-size: 1rem;
        padding: .7rem 1rem;
    }

    .top-content{
        grid-template-columns: repeat(3, 1fr);
    }

    .review-swiper{
        width: 32rem;
    }
    
    .review-content{
        width: 15rem;
    }

    .info-container{
        gap: 1rem;
        width: 30rem;
    }

    .info-box{
        justify-content: center;
    }

    .info-box:nth-child(2){
        margin-left: 0rem;
    }

    .new-img img{
        height: 15rem;
    }

    .footer-top{
        text-align: center;
    }

    .email-input{
        margin: auto .8rem;
    }

    .email-input input{
        width: 16rem;
    }

    .footer-center{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        text-align: center;
        margin-top: -2rem;
    }

    .footer-1 p{
        margin: 0 auto;
        font-size: 1.2rem;
    }

    .footer-container > div h4{
        margin-top: 1.8rem;
        font-size: 1.4rem;
    }

    .footer-container > div a{
        font-size: 1.2rem;
    }

    footer ul li{
        margin-bottom: .7rem;
    }

    .detail-about h2,
    .detail-screenshot h2{
        border-bottom: .2rem solid var(--main-color);
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }

    html::-webkit-scrollbar {
        width: .5rem;
    }

    h2{
         font-size: 1.4rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }

    h5{
        font-size: .8rem;
    }

    nav{
        height: 4rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .nav-container{
        padding: .5rem;
    }

    .navbar a:hover{
        border-bottom: .3rem solid var(--main-color);
    }

    .home-container{
        width: 100%;
    }

     .new-info{
        bottom: 6.3rem;
    }

    .top-content{
        grid-template-columns: repeat(3, 1fr);
    }
    
    .top-info p{
        font-size: .8rem;
        padding-bottom: .2rem;
    }

    .review-swiper{
        width: 33rem;
    }
    
    .review-content{
        width: 16rem;
        height: 23rem;
        margin-right: 0rem;
    }

    .info-box:nth-child(1),
    .info-box:nth-child(2){
        margin: 0 auto;
    }

    .detail-img{
        margin: 1rem auto;
        height: 15rem;
     }

     .detail-about p{
         font-size: 1rem;
         margin-bottom: 2rem;
     }
     
     .screenshot-content{
         margin: 0rem auto 1rem;
     }
     
     .detail-download{
         margin: 1rem auto 3rem;
     }
}

@media screen and (max-width: 560px) {
    h4{
        font-size: 1.1rem;
    }

    h5{
        font-size: 1rem;
    }

    .notification{
        right: 2rem;
    }

    .home-content h1{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .home-slider .swiper-button-next,
    .home-slider .swiper-button-prev{
        top: initial;
        bottom: 3rem;
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
    }

    .heading h3{
        padding-top: .3rem;
    }

    .heading .bx{
        font-size: 1rem;
    }

    .review-swiper{
        width: 20rem;
    }
    
    .review-content{
        width: 18rem;
    }

    .info-box{
        width: 28rem;
    }

    .email-input{
        margin: 0 .9rem;
    }

    .email-input input{
        width: 12rem;
    }

    .btn-subscribe{
        font-size: .9rem;
        font-weight: 300;
        letter-spacing: .1rem;
        padding: .3rem .6rem;
    }

    .detail-download{
        margin: 1rem auto 5rem;
    }

    .trending-info{
        letter-spacing: .05rem;
    }

    .new-info{
        padding: .5rem;
        bottom: 4.9rem;
    }

    .trending-info h4,
    .new-info h4{
        font-size: .9rem;
    }

    .trending-info h5,
    .new-info h5{
        font-size: .8rem;
        margin-top: .3rem;
    }

    .box-btn .bx{
        font-size: 1rem;
        padding: .3rem;
    }

    .rating .bx,
    .rating span{
        font-size: .8rem;
    }

    
    .load-more .btn{
        padding: .7rem .9rem .7rem 1.1rem;
    }

    .info-box{
        width: 19rem;
        display: grid;
        grid-template-columns: 40% 60%;
        padding: .5rem
    }

    .info-img{
        margin: auto 0;
    }

    .info-detail{
        padding: 2rem .8rem 0 ;
    }

    .info-detail h3{
        font-size: 1.2rem;
    }
    
    .info-detail p{
        font-size: .9rem;
    }
    
    .info-detail a{
        font-size: 1.2rem;
    }

    .input-box h3{
        padding: 0;
        margin-bottom: 1rem;
    }

    .footer-container > div h4{
        font-size: 1.1rem;
    }

    .footer-1 p,
    .footer-container > div a{
        font-size: 1rem;
    }

    .download-links{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 360px) {
    .btn{
        padding: .5rem .8rem;
        font-size: 1rem;
    }

    .home-content h1{
        font-size: 2rem;
        margin-bottom: 0rem;
        padding: 3rem auto;
        line-height: 2;
    }

    .home-slider .swiper-button-next,
    .home-slider .swiper-button-prev{
        line-height: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .new-info{
        padding: .4rem;
        bottom: 4.7rem;
    }

    .review-content{
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

    .review-content i{
        font-size: 1.5rem;
    }

    .review-content h3{
        padding: .5rem;
    }

    .info-container{
        width: 20rem;
    }

    .email-input{
        margin: 0 .5rem;
    }

    .email-input input{
        width: 9.5rem;
    }
}

