@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@300;400;500&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding: 2rem;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
}

:root{
    --main-color: #d953fa;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: #e8e8e8;
    --button-color: rgb(179, 67, 67);
    --hot-color: #ff0000;

}

::selection{
    color: var(--text-color);
    background: var(--main-color);
}

html::-webkit-scrollbar{
    width: .3rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--light_bg);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: .1rem;
}

body{
    background: var(--dark-color);
    color: var(--text-color);
}

section{
    padding: 2rem 9%;
}

header{
    background-color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    margin: 0 auto 0 0;
}

.logo span{
    color: var(--main-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 2rem; 
}

.nav-container{
    margin: auto;
    width: 100%;
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav-icons .bx{
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--dark-color);
    display: grid;
    place-items: center;
    height:2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    cursor: pointer;
}

#bell-icon{
    position: relative;
}

#bell-icon span{
    content: '';
    width: .31rem;
    height: .31rem;
    border-radius: 50%;
    background: var(--main-color);
    position: absolute;
    top: .6rem;
    right: .5rem;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .3rem;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    background: var(--dark-color);
    cursor: pointer;
    z-index: 200;
    transition: .3s;
}

.menu-icon div{
    background: var(--text-color);
    display: block;
    height: .15rem;
    width: 1.5rem;
    transition: .3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-.3rem, .3rem);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-.3rem, -.3rem);
}

.menu{
    background: hsl(251, 15%, 22%,.9);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    clip-path: circle(0% at 100% 0%);
}

.menu.active{
    clip-path: circle(141.4% at 100% 0%);
}

.menu img{
    width: 33rem;
    padding-left: 5rem;
}

.navbar{
    display: grid;
    row-gap: 1rem;
    text-align: right;
    padding-right: 10rem;
}

.navbar a{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    transition: .2s;
}

.navbar a:hover{
    border-bottom: .3rem solid var(--main-color);
    font-size: 2.1rem;
}


.notification{
    position: absolute;
    top: 110%;
    right: 5rem;
    background: var(--light-color);
    width: 18rem;
    height: 21rem;
    border-radius: .5rem;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    clip-path: circle(0% at 100% 0%);
}

.notification.active{
    clip-path: circle(141.4% at 100% 0%);
    transition: .3s;
}

.notification-box{
    background: var(--dark-color);
    display: flex;
    align-items: baseline;
    column-gap: 1rem;
    border-radius: .5rem;
    padding: .6rem;

}

.notification-box .bx{
    color: #faf102;
}

.x-box{
    background-color: #5c5959;
}

.x-box .bx{
    color: var(--hot-color)
}


.container{
    margin-bottom: 2rem;
}

.home{
    padding: 0;
    background:#222;
}

.home .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .slide::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: -1;
}

.home .slide .content{
    text-align: center;
    width: 70rem;
    display: none;
}

.home .slide .content h3{
    font-size: 6vw;
    color: var(--text-color);
    text-transform: uppercase;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    line-height: 1.5;
    padding: 2rem 0;
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

.home .slide .content .btn{
    animation: fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
}

@keyframes fadeIn{
    0%{
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.home .swiper-slide-active .content{
    display: inline-block;
}


.home .swiper-button-next,
.home .swiper-button-prev{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: var(--text-color);
    color: var(--button-color);
    border-radius: .5rem;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
    background: var(--button-color);
    color: var(--text-color);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
    font-size: 2rem;
}

.btn{
    background: var(--button-color);
    color: var(--text-color);
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 600;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover,
.load-more a:hover,
.download-links a:hover{
    background: var(--text-color);
    color: var(--button-color);
    transition: .3s all linear;
}

.heading{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.heading .bx{
    background: var(--hot-color);
    color: var(--text-color);
    font-size: 2rem;
    border-radius: 50%;
    margin-left: 1rem;
    padding: .1rem;

}

.heading h2{
    font-size: 2rem;
    font-weight: 300;
}

.heading h3{
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: var(--main-color);
}

.box{
    position: relative;
    width: 100%;
    height: 25rem;
    border-radius: .5rem;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.box .box-text{
    background: hsl(251, 15%, 22%, .5);
    backdrop-filter: blur(.2rem);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: .6rem;
    border-radius: .5rem;
}

.box .box-text h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.box .box-text h3{
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: .8rem;
}

.rating-download{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.rating{
    background: hsl(252, 6%, 35%, .8);
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    padding: .2rem .5rem;
    border-radius: .5rem;
}

.rating .bx,
.rating span{
    color: #faf102;
    font-size: 1rem;
}

.box-btn .bx{
    background: var(--text-color);
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 50%;
    padding: .5rem;
}

.box-btn .bx:hover{
    background: var(--dark-color);
    transition: .3s linear;
}

.new-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 1fr));
    gap:1.2rem; 
   
}

.new-content .box{
    display: none;
}

.new-content .box:nth-child(1),
.new-content .box:nth-child(2),
.new-content .box:nth-child(3),
.new-content .box:nth-child(4),
.new-content .box:nth-child(5){
    display: inline-block;
}

.load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

}

.load-more a{
    background: var(--button-color);
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: .7rem 1.2rem;
    letter-spacing: .5rem;
    border-radius: .5rem;
}

.top-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(12rem, 1fr));
    gap:1.2rem; 
}

.top-content .box{
    background: var(--light-color);
    text-align: center;
    padding: 1rem auto;
}

.top-content .box:hover{
    background: var(--button-color);
}

.top-box img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.top-box h4{
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: .5rem;
}

.top-box p{
    font-size: 1.2rem;
    font-weight: 100;
}

.review-content{
    display: grid;
    gap: .6rem;
    margin: auto;
    width: 100%;
    padding: 0 1rem;
    max-width: 80rem;
    
}

.review-box{
    position: relative;
    width: 19rem;
    height: 23rem;
    border-radius: .5rem;
    background: var(--light-color);
    text-align: center;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 5rem;
}

.review-box i{
    text-align: justify;
    font-size: 2rem;
    padding-top: .5rem;
}

.review-box h3{
    font-size: 1rem;
    font-weight: 100;
    text-align: justify;
    padding: 1rem;
    letter-spacing: .1rem;
}

.review-user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.review-user p{
    font-size: 1rem;
    font-weight: 100;
}

.review-content .swiper-button-next,
.review-content .swiper-button-prev{
    background:var(--button-color);
    border-radius:1rem;
    font-size: .5rem;
    padding: 2rem;
    color:var(--text-color);
    margin-top: 10rem;
}

.review-content .swiper-button-prev{
    margin-left: 25rem;
}

.review-content .swiper-button-next{
    margin-right: 25rem;
}

.review-content .swiper-button-next:hover,
.review-content .swiper-button-prev:hover{
    background:var(--text-color);
    color:var(--main-color);
}

.info-box{
    width: 30rem;
    height: 15rem;
    column-count: 2;
    background: var(--light-color);
    border-radius: .5rem;
    margin-left: 3rem;
    margin-bottom: 7rem;
}

.stock-box{
    display: flex;
    flex-wrap: wrap;
}

.info-img img{
    width:  100%;
    height: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
}

.info-text{
    text-align: center;
    height: 13rem;
}

.info-text h3{
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1rem;
}

.info-text p{
    padding: 1rem 1rem;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: left;
}

.info-text a{
    font-size: 1.3rem;
    font-weight: 300;
    text-decoration: underline;
    color: #1100ff;
    margin-top: 1rem;
}

.info-text a.sell-btn{
    color: var(--main-color);
}

.contact-box{
    background: var(--light-color);
    padding: 1rem 1rem 1rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    border-radius: .5rem;
    margin-top: -7rem;
    margin-bottom: 3rem;
}

.input-box h5{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0 0 1rem;
    text-align: left;
}

form{
    display: block;
    margin-top: 0rem;
}

.email-input{
    padding-top: .8rem;
    width: 22rem;
    box-sizing: border-box;
}

.email-input .form-group{
    display: flex;
    flex-direction: row;
}

.form-group{
    margin-bottom: 1rem;
}

.email-input input{
    border-radius: 1.8rem 0 0 1.8rem;
    height: 3.3rem;
    font-size: .98rem;
    width: 17rem;
    border: 0;
}

.email-input input:focus{
   color: var(--text-color);
   border: 0;
}

.form-control{
    padding: 1.5rem;
    border: 0;
    color: #c6c6cf;
    background: transparent;
    border: .06rem solid #495057 !important;
}

.email-input .btn-subscribe{
    border-radius: 0 1.8rem 1.8rem 0;
    background: #fe5f75 !important;
    border:0 solid rgba(240,240,240,.1);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .2rem;
    padding: .3rem 2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-transform: uppercase;
}

.email-input .btn-subscribe:hover{
    background: var(--text-color) !important;
    color: #fe5f75;
}

.footer{
    background: hsl(240, 46%, 12%,.5);
    padding: 4.3rem 0;
}

.footer-container{
    max-width: 70rem;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 .9rem;
}

.footer-col h4{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 2.1rem;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    background: var(--main-color);
    left: 0;
    bottom: -.6rem;
    height: .2rem;
    box-sizing: border-box;
    width: 3rem;
}

.footer-col ul li:not(:lastchild){
    margin-bottom: .6rem;
}

.footer-col ul li a{
    font-size: 1.3rem;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--text-color);
    line-height: 2;
    transition: all .3s ease;
}

.footer-col ul li a:hover{
    color: var(--button-color);
    padding-left: .5rem;
}

.footer-col .social-links a{
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background: var(--light-color);
    margin: 0 .6rem .6rem 0;
    text-align: center;
    line-height: 2.5rem;
    border-radius: 50%;
    color: var(--text-color);
    transition: all .5s ease
}

.footer-col .social-links a:hover{
    color: var(--button-color);
    background: var(--text-color);
}

.copyright{
    display: flex;
    justify-content: center;
    margin-bottom: -5rem;
    padding-bottom: 1rem;
}

.copyright p{
    font-size: .9rem;
    color: var(--text-color);
    padding-top: 4rem;
}

.copyright span{
    color: var(--main-color);
}

.download-title{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf102;
    background-size: cover !important;
    background-position: center !important;
    margin-top: 5rem;
}
.download-title::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 10;
}

.download-title img{
    width: 100%;
    height: 100%;
}

.about,
.screenshot{
    margin-top: 2rem;
}

.about h2,
.screenshot h2{
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: .2rem solid var(--main-color);
    margin: 3rem 1rem;
}

.about p{
    font-size: 1.4rem;
    text-align: justify;
    padding: 0 1rem;
}

.screenshot-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .6rem;
    margin: auto;
    width: 100%;
    padding: 0 1rem;
    max-width: 49rem;
}

.screenshot-content img{
    width: 100%;
    height: 27rem;
    object-fit: cover;
}

.download{
    max-width: 49rem;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

.download h2{
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin: 1.6rem 0;
}

.download-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .6rem;
    margin-bottom: 2rem;
}

.download-links a{
    background: var(--button-color); 
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: .7rem 1.2rem;
    border-radius: .5rem;
}








/* Media Queries */
@media (max-width:1200px) {

    section{
        padding: 3rem 5%;
    }

    .container{
        margin: 0 auto;
    }

    .notification{
        right: 4rem;
    }

    .heading .bx{
        font-size: 2rem;
    }

    .heading h2{
        font-size: 2rem;
    }

    .img-container{
        margin-top: 5rem;
    }

    .review-box{
        width: 19rem;
        height: 25rem;
        padding: 1rem;
    }

    .review-box i{
        font-size: 1.1rem;
    }

    .review-box h3{
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 1rem;
    }

    .review-user img{
        margin-bottom: 1rem;
    }

    .review-user p{
        font-size: 1.2rem;
        font-weight: 200;
    }

    .review-content .swiper-button-next,
    .review-content .swiper-button-prev{
        margin-top: 11rem;
    }

    .contact-box{
        margin-top: -8rem;
    }
    
}

@media (max-width:991px) {

    section{
        padding: 3rem 2rem;
    }

    .home .slide .content h3{
        font-size: 8vw;
    }

    .home .swiper-button-next,
    .home .swiper-button-prev{
        top: initial;
        bottom: 1rem;
    }

    .menu img{
        text-align: left;
        padding-left: 1rem;
    }
    
    .navbar{
        padding-right: 5rem;
    }

    .navbar a{
        font-size: 3rem;
    }

    .navbar a:hover{
        font-size: 3.4rem;
    }

    .box{
        width: 15rem;
        height: 20rem;
        border-radius: .5rem;
    } 
    
    .box .box-text{
        padding: .6rem;
    }
    
    .box .box-text h2{
        font-size: 1.5rem;
    }
    
    .box .box-text h3{
        font-size: 1.3rem;
    }

    .new-content  .box,
    .top-content .box{
        width: 13rem;
    }

    .review-box{
        width: 16.5rem;
        height: 27rem;
    }

    .review-box i{
        font-size: 1rem;
    }

    .review-content .swiper-button-next,
    .review-content .swiper-button-prev{
        margin-top: 12rem;
    }

    .review-content .swiper-button-next{
        margin-right: 23rem;
    }

    .review-content .swiper-button-prev{
        margin-left: 23rem;
    }

    .info-container{
        margin-bottom: 8rem;
    }

    .info-box{
        margin: 1rem auto;
    }
    
    .contact-box{
        margin: -9.1ren auto 5rem auto;
    }

    .footer-container{
        padding-left: auto;
        padding-right: 1rem;
        max-width: 40rem;
    }

    .footer-col .social-links a{
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
        line-height: 1rem;
    }

    .social-links a i{
        padding-top: .5rem;
        font-size: 1rem;
    }
}

/* Medium devices */
@media (max-width:768px) {

    section{
        padding: 3rem 3rem;
    }

    .notification{
        right:1rem;
    }

    .menu img{
        width:25rem;
    }

    .btn{
        padding: .7rem 1rem;
    }

    .box{
        width: 13rem;
    }
    .review-content{
        grid-template-columns: repeat(autofit,1fr);
        column-gap: .5rem;
        width: 100%;
        
    }
    
    .review-box{
        width: 20rem;
        height: 30rem;
        margin-left: 1rem;
    }

    .review-content .swiper-button-next,
    .review-content .swiper-button-prev{
        margin-top: 13rem;
    }

    .review-content .swiper-button-next{
        margin-right: 15rem;
    }

    .review-content .swiper-button-prev{
        margin-left: 16rem;
    }
    .review-box i{
        font-size: 1rem;
    }
    
    .review-box h3{
        font-size: 1.1rem;
    }

    .review-box p{
        font-size: 1rem;
    }
    
    .footer-col{
        width: 25%;
        padding: 0 .9rem;
        margin-bottom: 1.8rem;
    }

    .screenshots-content{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 18rem));
    }
    
}

@media (max-width:560px) {

    section{
        padding: 2rem 6%;
    }

    .menu img{
        display: none;
    }

    .menu{
        justify-content: flex-end;
    }

    .nav{
        padding: .5rem 1rem; 
    }

    .nav.nav-icons{
        padding-right: 1rem;
    }

    
    .nav-icons .bx,
    .menu-icon{
        height: 2.5rem;
        width: 2.5rem;
    }

    .navbar{
        padding: 1rem 9rem;
        row-gap: 1rem;
        margin-top: 1rem;
    }

    .navbar a{
        font-size: 2.3rem;
    }

    .navbar a:hover{
        font-size: 2.3rem;
        padding-right: 1rem;
    }

    .home .slide .content h3{
        font-size: 8vw;
    }

    p{
        font-size:0.875rem;
    }

    .home .swiper-button-next,
    .home .swiper-button-prev{
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        border-radius: .5rem;
    }

    .home .swiper-button-next::after,
    .home .swiper-button-prev::after{
        font-size: 1rem;
    }

    .heading h2{
        font-size: 1.5rem;
    }

    .heading h3{
        font-size: 1.1rem;
    }

    .box .box-text h2{
        font-size: .9rem;
    }
    
    .box .box-text h3{
        font-size: .8rem;
    }

    .box,
    .new-content .box,
    .top-content .box{
        width: 14rem;
    }
    
    .review-box{
        width: 20rem;
        height: 23rem;
        margin-left: 5rem;
    }

    .review-content .swiper-button-next,
    .review-content .swiper-button-prev{
        margin-top: 10rem;
    }

    .review-content .swiper-button-next{
        margin-right: 8rem;
    }

    .review-content .swiper-button-prev{
        margin-left: 8rem;
    }
    
    .review-box h3{
        font-size: .8rem;
    }

    .contact-box{
        margin: -9rem auto 3rem 1rem;
        padding: 1rem;
    }

    .input-box h5{
        padding: auto 1rem;
    }

    .email-input{
        padding-left: .25rem;
    }

    .email-input input{
        width: 18rem;
    }

    .email-input .btn-subscribe{
        font-size: .8rem;
        padding: .3rem 2rem ;
    }

    .footer-col{
        width: 100%;
        padding-left: 5rem;
    }

    .footer-col .social-links a{
        height: 3rem;
        width: 3rem;
        margin-right: .5rem;
        line-height: 1rem;
    }

    .social-links a i{
        padding-top: .8rem;
        font-size: 1.5rem;
    }

    .download-links{
        grid-template-columns: 1fr;
    }
    
}

/* For small devices */
@media (max-width:360px) {

    section{
        padding: 2rem 9%;
    }

    .logo{
        font-size: 1.5rem;
    }
    

    .home .slide .content h3{
        font-size: 3rem;
    }

    .nav{
        padding: .5rem 1rem; 
    }

    .nav-icons{
        margin-right: 0;
        column-gap: .5rem;
    }

    .nav-icons .bx{
        font-size: 1.3rem;
    }

    .menu img{
        display: none;
    }
    
    .navbar{
        padding-right: 5rem;
    }

    .navbar a{
        font-size: 2rem;
    }

    .navbar a:hover{
        font-size: 3.1rem;
    }

    .notification{
        right: 6rem;
    }

    .heading .bx{
        padding: .5rem;
    }

    .heading h2{
        font-size: 1.6rem;
    }

    .heading h3{
        font-size: 1.5rem;
    }

    .box,
    .new-content .box,
    .top-content .box{
        width: 18rem;
        height:20rem;
    }

    .review-box{
        width: 15rem;
        height: auto;
        margin-left: 2rem;
    }

    .review-content{
        padding: 1rem;
    }

    .review-user p{
       margin-bottom: 1rem;
    }

    .review-content .swiper-button-prev:after,
    .review-content .swiper-button-next:after{
        font-size: 1rem;
    }
    .review-content .swiper-button-next,
    .review-content .swiper-button-prev{
        margin-top: 11rem;
        font-size: .5rem;
        padding: 1.2rem;
    }

    .review-content .swiper-button-next{
        margin-right:6rem;
    }

    .review-content .swiper-button-prev{
        margin-left: 6rem;
    }

    .contact-box{
        margin-top: -9rem;
        padding: 1rem ;
        row-gap: 1rem;
        margin-bottom: 3rem;
    }

    .email-input input{
        width: 10rem;
    }

    .email-input .btn-subscribe{
        font-size: .8rem;
    }

    .footer-col .social-links a{
        height: 2.5rem;
        width: 2.5rem;
        margin-right: .5rem;
        line-height: 1rem;
    }

    .social-links a i{
        padding-top: .5rem;
        font-size: 1.6rem;
    }

    .copyright{
        flex-direction: column;
        align-items:center;
        row-gap: 1rem;
    }

    .copyright .logo{
        margin: 0;
    }

    .about h2,
    .screenshots h2 .download h2{
        font-size: 1.2rem;
    }
    
}